{% extends 'base.html.twig' %}

{% block title %}Nuevo Clima{% endblock %}

{% block body %}
<div class="card shadow-sm p-4">
    <h2 class="text-primary mb-3">Crear nuevo Clima</h2>

    {{ include('clima/_form.html.twig') }}

    <div class="mt-3">
        <a href="{{ path('app_clima_index') }}" class="btn btn-outline-secondary">← Volver al listado</a>
    </div>
</div>
{% endblock %}
